@use "modules/cdn";

body {
  background: url('#{cdn.$images}/wall.jpg');
  font-family: 'Alegreya', serif;
  margin: 0;
  padding: 0;
}

nav {
  background: url('#{cdn.$images}/wood.jpg') repeat-x;
  background-size: 10em;
  box-shadow: 0 0 1em 1em #000;
  height: 3.4em;
  margin: 0 0 2em 0;
  position: relative;

  h1 {
    background: url('#{cdn.$logos}/full-color.png') no-repeat top center;
    background-size: contain;
    height: 9em;
    margin: 0 auto 0 auto;
    padding: 0;
    position: relative;
    width: 15em;

    a {
      bottom: 0;
      display: block;
      font-size: 0;
      left: 0;
      text-decoration: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

main {
  background-color: #ccc;
  background-image: url('#{cdn.$images}/vellum-top.png'), url('#{cdn.$images}/vellum-bottom.png'), url('#{cdn.$images}/vellum.jpg');
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: top center, bottom center, center;
  background-size: 100%, 100%;
  box-shadow: 0 0 1em 1em #000;
  margin: 6em auto 0 auto;
  max-width: 50em;
  min-height: 75vh;
  padding: 2em 2em 2em 2em;
}
