# Ignore anything that you can build
node_modules
stylesheets/dist
stylesheets/src/modules/*.scss
!stylesheets/src/modules/_layout.scss
!stylesheets/src/modules/_mixins.scss
!stylesheets/src/modules/_paths.scss
!stylesheets/src/modules/_tables.scss
scripts/dist
release/src/version.js
*.html
!docs/*.html
add-doc.json

# Ignore release files
v1

# Ignore local files
.DS_Store
.idea