# Ignore anything that you can build
node_modules
stylesheets/dist
stylesheets/src/modules/*.scss
!stylesheets/src/modules/_layout.scss
scripts/dist
*.html
!docs/*.html

# Ignore local files
.DS_Store
.idea