@use "../modules/colors";
@use "../modules/mixins";
@use "../modules/shadows";
@use "../modules/spacing";
@use "../modules/typography";

button,
input[type="button"],
input[type="submit"] {
  @include mixins.diamondsides(calc(#{typography.$size-m} + (#{typography.$size-xs} * 2)), colors.$day-accent);
  appearance: none;
  background: colors.$day-accent;
  border: 0;
  box-shadow: none;
  color: colors.$day-bg;
  cursor: pointer;
  display: block;
  filter: drop-shadow(spacing.$none spacing.$none 0.2rem #00000099);
  font-family: typography.$family-subheading;
  font-size: typography.$size-m;
  line-height: typography.$size-m;
  margin: typography.$size-xs auto;
  padding: typography.$size-xs typography.$size-m;
  text-shadow: spacing.$none spacing.$none 0.2rem #00000080;
  white-space: nowrap;
  width: calc(100% - 2em);

  &:hover {
    text-shadow: spacing.$none spacing.$none 0.2rem #ffffff80;
  }

  &:active {
    filter: drop-shadow(spacing.$none spacing.$none 0.1rem #000000cc);
  }

  &.secondary {
    @include mixins.diamondside-recolor(colors.$day-fg);
    background: colors.$day-fg;
  }

  &[disabled] {
    cursor: not-allowed;
    filter: none;
    opacity: 0.3333;

    &:hover {
      text-shadow: spacing.$none spacing.$none 0.2rem #00000080;
    }
  }
}

.night button,
.night input[type="button"],
.night input[type="submit"] {
  @include mixins.diamondside-recolor(colors.$night-accent);
  background: colors.$night-accent;
  border: 0;

  &.secondary {
    @include mixins.diamondside-recolor(colors.$night-bg);
    background: colors.$night-bg;
  }
}
