@use "../modules/borders";
@use "../modules/breakpoints";
@use "../modules/colors";
@use "../modules/paths";
@use "../modules/spacing";
@use "../modules/transitions";
@use "../modules/typography";

.cta {
  align-items: center;
  color: colors.$day-fg;
  display: flex;
  font: typography.$h3;
  text-align: left;
  text-decoration: none;

  &:visited {
    color: colors.$day-fg;
  }

  &:hover {
    color: colors.$day-accent;

    &:after {
      width: 62%;
    }
  }

  &:after {
    background: transparent url('#{paths.$images}/day/divider.svg') no-repeat left center;
    background-size: cover;
    border-right: spacing.$thick-border solid colors.$day-fg;
    content: '';
    display: block;
    height: typography.$size-xxl;
    margin-left: typography.$size-s;
    transform: scaleX(-1);
    width: 60%;
  }

  @media (min-width: 20rem) {
    &:after { width: 52%; }
    &:hover:after { width: 54%; }
  }

  @media (min-width: 30rem) {
    &:after { width: 44%; }
    &:hover:after { width: 46%; }
  }

  @media (min-width: 40rem) {
    &:after { width: 36%; }
    &:hover:after { width: 38%; }
  }

  @media (min-width: 50rem) {
    &:after { width: 25%; }
    &:hover:after { width: 27%; }
  }
}

.night .cta {
  color: colors.$night-fg;

  &:visited {
    color: colors.$night-fg;
  }

  &:hover {
    color: colors.$night-accent;
  }

  &:after {
    background-image: url('#{paths.$images}/night/divider.svg');
    border-right-color: colors.$night-fg;
  }
}