@use "../modules/typography";
@use "../modules/spacing";

@mixin dataset {
  font: typography.$technical;
  overflow: hidden;

  dt,
  dd {
    margin: 0;
    padding: 0;
  }

  dt {
    float: left;
    font: typography.$technical;
    font-weight: bold;
    margin-right: typography.$size-m;
  }

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: fit-content(spacing.$horizontal) 1fr;
    grid-gap: calc(#{spacing.$thick-border} * 2);

    dt {
      float: none;
      white-space: nowrap;
    }

    &:after {
      content: none;
    }
  }
}

dl.dataset {
  @include dataset;
}
