@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

label {
  font: typography.$technical;
  font-weight: 600;
  display: block;
  margin: typography.$size-m spacing.$none spacing.$none;

  .note {
    display: block;
    font-size: typography.$size-s;
    font-weight: normal;
    margin: spacing.$none;
  }

  &.error {
    color: colors.$day-accent;
  }

  & + input,
  & + textarea,
  & + select {
    margin-top: calc(#{spacing.$vertical} / 8)
  }
}

.night label.error {
  color: colors.$night-accent;
}

.error.msg {
  color: colors.$day-accent;
  font: typography.$technical;
  margin: typography.$size-xs spacing.$none typography.$size-m spacing.$none;
}
