@use "../modules/colors";
@use "../modules/transitions";

a {
  color: colors.$day-link;
  font-weight: bold;
  transition: transitions.$quick;

  &:visited {
    color: colors.$day-link-visited;
  }

  &:active,
  &:hover {
    color: colors.$day-accent;
  }
}

.night a {
  color: colors.$night-link;

  &:visited {
    color: colors.$night-link-visited;
  }

  &:active,
  &:hover {
    color: colors.$night-accent;
  }
}