@use "../modules/breakpoints";
@use "../modules/spacing";
@use "../modules/typography";

aside.side-panel {
  header {
    font: typography.$body;
    line-height: 1;
    text-align: center;

    h2,
    p {
      margin: spacing.$thick-border spacing.$none;
    }
  }

  h2 {
    font: typography.$h2;
  }

  .subtitle {
    font-family: typography.$family-subheading;
  }

  img {
    margin: typography.$size-s calc(#{spacing.$horizontal} * -0.6);
    max-width: calc(100% + (#{spacing.$horizontal} * 1.2));
    width: calc(100% + (#{spacing.$horizontal} * 1.2));
  }

  @media (min-width: breakpoints.$full-page) {
    float: right;
    margin: spacing.$none spacing.$none typography.$size-l typography.$size-l;
    width: 50%;
  }

  @media (min-width: breakpoints.$side-panel-b) {
    margin-right: spacing.$horizontal * -1.5;
  }

  @media (min-width: breakpoints.$side-panel-c) {
    margin-right: spacing.$horizontal * -3;
  }
}
