@use "../modules/layout";
@use "../modules/paths";

.scarletbanner > nav {
  @extend %layout-block;

  h1 {
    aspect-ratio: 3.3 / 1;
    background: url("#{paths.$images}/day/logo.svg") no-repeat top left;
    background-size: contain;
    font-size: 0;
    margin: 0 auto;
    position: relative;
    width: 80%;

    a {
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 50;
    }
  }
}

.scarletbanner.night > nav h1 {
  background-image: url("#{paths.$images}/night/logo.svg");
}
