@use "../partials/fonts" as f;
@use "../modules/fonts";

body {
  font-family: fonts.$base, serif;
}

h1 {
  border-bottom: 0.1em solid #e1ceb9;
  color: #dc143c;
  font-family: fonts.$heading, serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 1;
  margin: 1em 0 0 0;
}
