@use "../modules/spacing";
@use "../modules/layout";
@use "../modules/color";

footer {
  @extend %layout-block;
  color: color.$outer-text;
  margin: 0 auto;
  padding: 0 spacing.$horizontal * 2 spacing.$vertical * 2 spacing.$horizontal * 2;
}
