@use "../modules/cdn";
@use "../modules/colors";
@use "../modules/shadows";
@use "../modules/spacing";
@use "../modules/typography";

.hero {
  height: 60vh;
  position: relative;

  img {
    height: 100%;
    left: spacing.$none;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: spacing.$none;
    width: 100%;
    z-index: -1;
  }

  &:after {
    background: url('#{cdn.$images}/wood.gif') repeat;
    border-top: calc(#{typography.$size-xs} / 2) solid colors.$black;
    border-bottom: calc(#{typography.$size-xs} / 2) solid colors.$black;
    bottom: typography.$size-xs * -4;
    box-shadow: shadows.$page;
    content: '';
    display: block;
    height: typography.$size-xs * 4;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  & + main {
    margin-top: -20vh;
  }
}