@use "../modules/layout";

.scarletbanner > nav {
  @extend %layout-block;

  h1 {
    aspect-ratio: 3.3 / 1;
    background: url("/images/day/logo.svg") no-repeat top left;
    background-size: contain;
    font-size: 0;
    margin: 0;
    position: relative;
    width: 50%;

    a {
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.scarletbanner.night > nav h1 {
  background-image: url("/images/night/logo.svg");
}
