@use "../modules/cdn";
@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/shadows";
@use "../modules/layout";

body > nav {
  background: url('#{cdn.$images}/wood.gif') repeat;
  border-bottom: calc(#{spacing.$vertical} / 8) solid colors.$black;
  box-shadow: shadows.$page;
  height: spacing.$vertical * 2;
  margin: 0;
  position: relative;

  h1 {
    @extend %layout-block;
    background: url('#{cdn.$logos}/full-color-trimmed.png') no-repeat top center;
    background-size: contain;
    border-bottom: 0;
    font-size: 1em;
    height: spacing.$vertical * 7;
    margin: spacing.$none auto spacing.$none auto;
    padding: spacing.$none;
    position: relative;

    a {
      bottom: spacing.$none;
      display: block;
      font-size: spacing.$none;
      left: spacing.$none;
      text-decoration: none;
      position: absolute;
      right: spacing.$none;
      top: spacing.$none;
    }
  }
}
