@use "../modules/borders";
@use "../modules/breakpoints";
@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

.swatch {
  border: borders.$block;
  border-radius: spacing.$rounding;
  margin: typography.$size-m spacing.$none;

  h4 {
    font-style: normal;
    padding: typography.$size-xl typography.$size-m typography.$size-m typography.$size-m;
  }
}

.contrast-report {
  table {
    display: none;
    visibility: hidden;
  }

  h4 {
    font-style: normal;
    padding: typography.$size-m;
  }

  .example {
    padding: typography.$size-m;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media (min-width: breakpoints.$full-page) {
  @supports (display: grid) {
    .swatches {
      display: grid;
      grid-template-columns: calc(50% - (#{typography.$size-m} / 2)) calc(50% - (#{typography.$size-m} / 2));
      grid-gap: typography.$size-m;
      margin: typography.$size-m spacing.$none;

      .swatch {
        margin: 0;
      }
    }

    .contrast-report {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 0;

      h4 {
        grid-column: 1 / span 2;
      }
    }
  }
}