@use "../modules/borders";
@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

%varlist {
  th {
    border: 0;
  }

  th,
  td {
    padding: spacing.$none typography.$size-m;
  }

  tr:nth-child(even) td {
    background: none;
  }
}

body {
  counter-reset: scarletbanner-tables;
}

table {
  border-collapse: collapse;
  font-family: 'Alegreya Sans', sans-serif;
  margin: typography.$size-m typography.$size-m * -1;
  width: calc(100% + (#{typography.$size-m} * 2));

  caption {
    counter-increment: scarletbanner-tables;
    font-weight: bold;
    text-align: left;

    &:before {
      content: "Table " counter(scarletbanner-tables) ". ";
    }
  }

  td, th {
    padding: calc(#{spacing.$vertical} / 4) calc(#{spacing.$horizontal} / 4);
    text-align: left;
  }

  th {
    border-bottom: borders.$table-heading;
  }

  tr:nth-child(even) td {
    background: adjust-color(colors.$page-shade, $alpha: -0.66);
  }

  .num {
    text-align: center;
  }

  tfoot {
    border-top: 1px solid adjust-color(colors.$page-text, $alpha: -0.66);
  }

  &.varlist {
    @extend %varlist;
  }
}