@use "../partials/fonts" as f;
@use "../modules/borders";
@use "../modules/breakpoints";
@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

body {
  font: typography.$body;
}

h1, h2, h3, h4 {
  margin: typography.$size-m spacing.$none spacing.$none;
}

h1 {
  font: typography.$h1;
  color: colors.$day-accent;
}

.night h1 {
  color: colors.$night-accent;
}

h2 {
  font: typography.$h2;
  margin: typography.$size-xxl spacing.$none typography.$size-m;
}

h3 {
  font: typography.$h3;
  margin: typography.$size-xl spacing.$none typography.$size-m;
}

h4 {
  font: typography.$h4;
  margin: typography.$size-l spacing.$none typography.$size-m;
}

ul, ol {
  margin: typography.$size-xl spacing.$none;
  padding: spacing.$none;
}

ol ol {
  list-style-type: lower-latin;
}

ol ol ol {
  list-style-type: lower-roman;
}

ol ol ol ol {
  list-style-type: upper-roman;
}

p {
  margin: typography.$size-m spacing.$none;
}

li {
  margin: spacing.$none spacing.$none typography.$size-xs spacing.$none;

  ul, ol {
    margin: typography.$size-xs spacing.$none typography.$size-xs typography.$size-m;
  }

  p {
    margin: spacing.$none;

    & + p {
      margin-top: calc(#{typography.$size-xs} / 2);
    }
  }
}

.technical {
  font: typography.$technical;
}

@media (min-width: breakpoints.$full-page) {
  html {
    font-size: 125%;
  }
}