@use "../modules/breakpoints";
@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

aside {
  background: colors.$day-shade;
  margin: typography.$size-m spacing.$none;
  padding: spacing.$vertical spacing.$horizontal * 0.5;

  *:first-child {
    margin-top: typography.$size-xs;
  }

  @media (min-width: breakpoints.$full-page) {
    margin: typography.$size-m spacing.$horizontal * -0.5;
    padding: spacing.$vertical spacing.$horizontal * 0.5;
  }
}

.night aside {
  background: colors.$night-shade;
}