@use "../modules/breakpoints";
@use "../modules/colors";
@use "../modules/mixins";
@use "../modules/spacing";
@use "../modules/typography";

aside {
  @include mixins.fancy-border("day", colors.$day-shade);
  margin: typography.$size-m spacing.$none;
  padding: spacing.$vertical spacing.$horizontal * 0.5;

  *:first-child {
    margin-top: typography.$size-xs;
  }

  @media (min-width: breakpoints.$full-page) {
    margin: typography.$size-m spacing.$horizontal * -0.5;
    padding: spacing.$vertical spacing.$horizontal * 0.5;
  }
}

.night aside {
  @include mixins.fancy-border("night", colors.$night-shade);
}