@use "../modules/borders";
@use "../modules/breakpoints";
@use "../modules/colors";
@use "../modules/mixins";
@use "../modules/paths";
@use "../modules/shadows";
@use "../modules/spacing";
@use "../modules/transitions";
@use "../modules/typography";

nav.auth {
  @include mixins.fancy-border("day", colors.$day-shade);
  padding: spacing.$none;

  ul {
    @include mixins.unformatted-list;
  }

  li {
    border-bottom: 1px solid colors.$day-fg;
    display: block;
    height: typography.$size-xxl;
    margin: 0;
    padding: typography.$size-m;
    position: relative;

    &.pov{
      height: auto;
    }

    a {
      align-items: center;
      bottom: 0;
      color: colors.$day-fg;
      display: flex;
      font-family: typography.$family-subheading;
      justify-content: center;
      left: 0;
      padding: typography.$size-m spacing.$horizontal;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: 0;

      &:hover {
        background: colors.$night-shade;
        color: colors.$day-accent;
      }
    }
  }

  @media (min-width: breakpoints.$full-page) {
    padding: spacing.$none typography.$size-l;
    ul {
      display: flex;
    }

    li {
      align-items: center;
      border-bottom: 0;
      border-right: 1px solid colors.$day-fg;
      height: auto;
      padding: spacing.$vertical spacing.$none;
      width: 20%;

      &.pov {
        padding-right: typography.$size-xl;
        width: 60%;
      }

      a {
        justify-content: center;
        padding: spacing.$none;
      }
    }
  }

  &.header {
    background-color: colors.$day-bg;
    background-image: url('#{paths.$images}/day/corner-bottomleft.gif'),
      url('#{paths.$images}/day/corner-bottomright.gif'),
      linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 100%),
      url("#{paths.$images}/day/bg.jpg");
    background-repeat: no-repeat;
    background-position: bottom left, bottom right, bottom center, bottom center;
    box-shadow: shadows.$block;
    left: 0;
    right: 0;
    transition: transitions.$quick;
    top: 0;
    z-index: 90;

    .toggle {
      background: linear-gradient(180deg, colors.$day-fg 0%, colors.$day-accent 10%, colors.$day-accent 100%);
      bottom: calc(#{spacing.$horizontal} * -1);
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
      content: '';
      cursor: pointer;
      display: block;
      height: spacing.$horizontal;
      position: absolute;
      right: spacing.$horizontal;
      transition: transitions.$quick;
      width: spacing.$horizontal;

      &:before {
        background: url("#{paths.$images}/arrow.png") no-repeat center;
        background-size: 50%;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: transitions.$quick;
      }
    }

    &.initialized {
      position: absolute;
    }

    &.closed {
      transform: translateY(-100%);

      .toggle:before {
        transform: rotate(180deg);
      }
    }

    @media (min-width: breakpoints.$full-page) {
      padding: spacing.$none spacing.$horizontal;
    }
  }

  &.closed {
    transform: translateY(-100%);

    &:after {
      transform: rotate(180deg);
    }
  }
}

.night nav.auth {
  @include mixins.fancy-border("day", colors.$night-shade);

  &.header {
    background-color: colors.$night-bg;
    background-image: url("#{paths.$images}/night/bg.jpg"),
    url('#{paths.$images}/night/corner-bottomleft.gif'),
    url('#{paths.$images}/night/corner-bottomright.gif');
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
  }

  li {
    border-bottom: 1px solid colors.$night-shade;

    a {
      color: colors.$night-fg;

      &:hover {
        color: colors.$night-accent;
      }
    }
  }

  @media (min-width: breakpoints.$full-page) {
    li {
      border-right: 1px solid colors.$night-shade;
    }
  }
}