@use "../modules/borders";
@use "../modules/breakpoints";
@use "../modules/colors";
@use "../modules/mixins";
@use "../modules/paths";
@use "../modules/shadows";
@use "../modules/spacing";
@use "../modules/transitions";
@use "../modules/typography";

nav.auth {
  background: colors.$day-shade;
  padding: spacing.$none;

  ul {
    @include mixins.unformatted-list;
  }

  li {
    border-bottom: 1px solid colors.$day-shade;
    display: block;
    height: typography.$size-xxl;
    margin: 0;
    padding: typography.$size-m spacing.$horizontal;
    position: relative;

    &.pov {
      height: auto;

      label {
        margin-bottom: typography.$size-xs;
      }

      select {
        margin: spacing.$none;
      }

      .input-button button {
        clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
        width: calc(#{spacing.$button-width} / 4);
      }
    }

    a {
      align-items: center;
      bottom: 0;
      color: colors.$day-fg;
      display: flex;
      font-family: typography.$family-subheading;
      left: 0;
      padding: typography.$size-m spacing.$horizontal;
      position: absolute;
      right: 0;
      text-decoration: none;
      top: 0;

      &:hover {
        color: colors.$day-accent;
      }
    }
  }

  @media (min-width: breakpoints.$full-page) {
    padding: spacing.$none spacing.$horizontal;

    ul {
      display: flex;
    }

    li {
      align-items: center;
      border-bottom: 0;
      border-right: 1px solid colors.$day-shade;
      height: auto;
      padding: spacing.$vertical spacing.$none;
      width: 20%;

      &.pov {
        padding-right: typography.$size-m;
        width: 60%;
      }

      a {
        justify-content: center;
        padding: spacing.$none;
      }
    }
  }

  &.header {
    background: colors.$day-bg url("#{paths.$images}/day/bg.jpg") no-repeat bottom center;
    box-shadow: shadows.$block;
    left: 0;
    position: absolute;
    right: 0;
    transition: transitions.$quick;
    top: 0;
    z-index: 90;

    .toggle {
      background: linear-gradient(180deg, colors.$day-fg 0%, colors.$day-accent 10%, colors.$day-accent 100%);
      bottom: calc(#{spacing.$horizontal} * -1);
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
      content: '';
      cursor: pointer;
      display: block;
      height: spacing.$horizontal;
      position: absolute;
      right: spacing.$horizontal;
      transition: transitions.$quick;
      width: spacing.$horizontal;

      &:before {
        background: url("#{paths.$images}/arrow.png") no-repeat center;
        background-size: 50%;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: transitions.$quick;
      }
    }

    &.closed {
      transform: translateY(-100%);

      .toggle:before {
        transform: rotate(180deg);
      }
    }
  }

  &.closed {
    transform: translateY(-100%);

    &:after {
      transform: rotate(180deg);
    }
  }
}

.night nav.auth {
  background: colors.$night-shade;

  li {
    border-bottom: 1px solid colors.$night-shade;

    a {
      color: colors.$night-fg;

      &:hover {
        color: colors.$night-accent;
      }
    }
  }

  @media (min-width: breakpoints.$full-page) {
    li {
      border-right: 1px solid colors.$night-shade;
    }
  }
}