@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

blockquote {
  margin: typography.$size-m spacing.$none;
  padding: spacing.$vertical spacing.$horizontal;
  position: relative;

  footer {
    font-style: italic;
    margin: spacing.$none spacing.$none spacing.$none 35%;
    max-width: 65%;
    padding: spacing.$none;
    text-align: right;

    &:before {
      content: '\2014';
      margin-right: spacing.$thick-border;
    }
  }
}
