@use "../modules/colors";
@use "../modules/_curves.scss";
@use "../modules/durations";
@use "../modules/gradients";
@use "../modules/shadows";
@use "../modules/spacing";
@use "../modules/typography";

button,
input[type="button"],
input[type="submit"] {
  appearance: none;
  aspect-ratio: 8 / 1;
  background: radial-gradient(circle, gradients.$primary-button);
  border: 0;
  clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
  color: colors.$day-bg;
  cursor: pointer;
  display: block;
  font-family: typography.$family-subheading;
  font-size: typography.$size-m * 1.05;
  margin: typography.$size-m auto;
  padding: typography.$size-xs typography.$size-l;
  text-shadow: shadows.$button;
  width: spacing.$button-width;

  &:hover {
    background: radial-gradient(circle, gradients.$primary-button-active);
  }

  &:active {
    box-shadow: inset shadows.$pressed-button;
  }

  &.secondary {
    background: radial-gradient(circle, gradients.$secondary-button);

    &:hover {
      background: radial-gradient(circle, gradients.$secondary-button-active);
    }
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    background: radial-gradient(circle, gradients.$disabled-button);
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}