@use "../modules/borders";
@use "../modules/colors";
@use "../modules/gradients";
@use "../modules/shadows";
@use "../modules/spacing";
@use "../modules/transitions";
@use "../modules/typography";

button,
input[type="button"],
input[type="submit"] {
  appearance: none;
  background: radial-gradient(gradients.$button-primary-default);
  border-radius: spacing.$rounding * 3;
  border-top: borders.$gold-ridge;
  border-right: borders.$gold-ridge;
  border-bottom: borders.$gold-groove;
  border-left: borders.$gold-groove;
  box-shadow: inset shadows.$block, shadows.$block;
  color: colors.$white;
  cursor: pointer;
  display: inline;
  font-family: typography.$family-display;
  font-size: typography.$size-l;
  font-weight: normal;
  line-height: 1.2;
  margin: spacing.$thick-border;
  padding: calc(#{spacing.$vertical} / 4) calc(#{spacing.$horizontal} / 2);
  text-shadow: shadows.$pressed;
  transition: transitions.$quick;
  width: auto;

  &:hover:not([disabled]) {
    background: radial-gradient(gradients.$button-primary-hover);
    box-shadow: inset shadows.$block, shadows.$block;
  }

  &:active:not([disabled]) {
    box-shadow: inset shadows.$block, shadows.$pressed;
    text-shadow: shadows.$block;
  }

  &.secondary {
    background: radial-gradient(gradients.$button-secondary-default);
    border: 0.25rem transparent;
    color: colors.$page-text;
    text-shadow: shadows.$pressed;

    &:hover:not([disabled]) {
      background: radial-gradient(gradients.$button-secondary-hover);
    }

    &:active:not([disabled]) {
      text-shadow: shadows.$white-glow;
    }
  }

  &[disabled] {
    background: radial-gradient(gradients.$button-disabled);
    border-color: desaturate(colors.$gold, 100%);
    box-shadow: inset shadows.$pressed, shadows.$pressed;
    color: lighten(colors.$page-text, 15%);
    cursor: not-allowed;
    opacity: 0.75;
    text-shadow: none;

    &.secondary {
      background: radial-gradient(gradients.$button-disabled);
      color: lighten(colors.$page-text, 20%);
    }
  }
}
