@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

input[type="checkbox"] {
  border-radius: 0;

  &:checked:after {
    background: transparent;
    color: colors.$day-link;
    content: '\2713';
    font-size: typography.$size-l;
    font-weight: bold;
    margin: spacing.$hairline;
  }
}

.night input[type="checkbox"]:checked:after {
  background: transparent;
  color: colors.$night-link;
}
