@use "../modules/borders";
@use "../modules/colors";
@use "../modules/spacing";

:not(pre) > code[class*=language-].block {
  background: none;
}

:not(pre) > code[class*=language-].block {
  background: colors.$day-bg;
  border: borders.$day-block;
  display: block;
  max-height: spacing.$vertical * 10;
  overflow: auto;
  padding: calc(#{spacing.$vertical} / 4) calc(#{spacing.$horizontal} / 4) !important;
  width: 100%;
}

.night :not(pre) > code[class*=language-].block {
  background: colors.$night-bg;
  border: borders.$night-block;
}