@use "../modules/borders";
@use "../modules/colors";
@use "../modules/spacing";

:not(pre) > code[class*=language-].block {
  background: none;
}

:not(pre) > code[class*=language-].block {
  background: colors.$page-base;
  border: borders.$block;
  display: block;
  max-height: 10em;
  overflow: scroll;
  padding: calc(#{spacing.$vertical} / 4) calc(#{spacing.$horizontal} / 4);
  white-space: pre;
  width: calc(100% - (#{spacing.$horizontal} / 2));
}