@use "../modules/borders";
@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

.component {
  margin: spacing.$none;
  padding: typography.$size-m spacing.$none;

  .example {
    margin: typography.$size-m spacing.$none;
  }

  details {
    clear: both;

    & > code[class*=language-].block {
      border-top: 0;
      width: calc(100% - (#{spacing.$horizontal} / 2));
    }
  }

  summary {
    background: colors.$day-bg;
    border: borders.$day-block;
    cursor: pointer;
    font: typography.$technical;
    font-weight: bold;
    padding: calc(#{spacing.$vertical} / 4) calc(#{spacing.$horizontal} / 4);
    width: calc(100% - (#{spacing.$horizontal} / 2));
  }
}

.night .component summary {
  background: colors.$night-bg;
  border: borders.$night-block;
}
