@use "../modules/borders";
@use "../modules/colors";
@use "../modules/spacing";

.component {
  margin: 0;
  padding: 1em 0;

  .example {
    margin: 1em 0;
  }

  details > code[class*=language-].block {
    border-top: 0;
    width: calc(100% - (#{spacing.$horizontal} / 2));
  }

  summary {
    background: lighten(colors.$page-shade, 15%);
    border: borders.$block;
    cursor: pointer;
    padding: calc(#{spacing.$vertical} / 4) calc(#{spacing.$horizontal} / 4);
    width: calc(100% - (#{spacing.$horizontal} / 2));
  }

  & + .component {
    border-top: 0.25em solid colors.$page-shade;
  }
}
