@use "../modules/borders";
@use "../modules/colors";

.component {
  margin: 0;
  padding: 1em 0;

  .example {
    margin: 1em 0;
  }

  details > code[class*=language-].block {
    border-top: 0;
  }

  summary {
    background: lighten(colors.$page-shade, 15%);
    border: borders.$block;
    cursor: pointer;
    padding: 0.5em 1em;
    width: calc(100% - 2em);
  }

  & + .component {
    border-top: 0.25em solid colors.$page-shade;
  }
}
