@use "../modules/breakpoints";
@use "../modules/borders";
@use "../modules/colors";
@use "../modules/shadows";
@use "../modules/spacing";
@use "../modules/typography";

img {
  border: borders.$day-block;
  box-shadow: shadows.$block;
  margin: typography.$size-m spacing.$none;
  max-width: 100%;

  &.unboxed {
    border: none;
    box-shadow: none;
  }

  @media (min-width: breakpoints.$full-page) {
    &.right {
      float: right;
      margin: typography.$size-m typography.$size-m * -6 typography.$size-m typography.$size-xl;
      max-width: 60%;
    }

    &.left {
      float: left;
      margin: typography.$size-m typography.$size-xl typography.$size-m typography.$size-m * -6;
      max-width: 60%;
    }
  }
}

.night img {
  border: borders.$night-block;
}