@use "../modules/colors";
@use "../modules/typography";

label {
  font: typography.$technical;
  font-weight: bold;
  display: block;
  margin: 1em 0 0;

  p {
    font-size: typography.$size-s;
    font-weight: normal;
    margin: 0;
  }

  &.error {
    color: colors.$scarlet;
  }
}

p.error.msg {
  color: colors.$scarlet;
  font: typography.$technical;
  margin: typography.$size-xs 0 typography.$size-m 0;
}
