@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

label {
  font: typography.$technical;
  font-weight: bold;
  display: block;
  margin: typography.$size-m spacing.$none spacing.$none;

  p {
    font-size: typography.$size-s;
    font-weight: normal;
    margin: spacing.$none;
  }

  &.error {
    color: colors.$scarlet;
  }
}

p.error.msg {
  color: colors.$scarlet;
  font: typography.$technical;
  margin: typography.$size-xs spacing.$none typography.$size-m spacing.$none;
}
