@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

.panel {
  color: colors.$day-fg;
  display: block;
  font-weight: normal;
  margin: spacing.$none typography.$size-m * -1;
  padding: calc(#{typography.$size-m} / 3) typography.$size-m;
  text-decoration: none;

  &:hover {
    background: colors.$day-bg;
    border-color: colors.$day-shade;
  }

  &:active,
  &:hover,
  &:visited {
    color: colors.$day-fg;
  }

  h2, h3, h4 {
    margin-top: typography.$size-m;
  }
}

.scarletbanner.night .panel {
  color: colors.$night-fg;

  &:hover {
    background: colors.$night-shade;
    border-color: colors.$night-shade;
  }

  &:active,
  &:hover,
  &:visited {
    color: colors.$night-fg;
  }
}