@use "../modules/colors";
@use "../modules/shadows";
@use "../modules/spacing";
@use "../modules/typography";

.panel {
  border: spacing.$hairline solid transparent;
  border-radius: spacing.$rounding;
  color: colors.$page-text;
  display: block;
  font-weight: normal;
  margin: spacing.$none typography.$size-m * -1;
  padding: calc(#{typography.$size-m} / 3) typography.$size-m;
  text-decoration: none;

  &:hover {
    background: colors.$page-base;
    border-color: colors.$page-shade;
    box-shadow: shadows.$block;
  }

  &:active,
  &:hover,
  &:visited {
    color: colors.$page-text;
  }

  h2, h3, h4 {
    margin-top: typography.$size-m;
  }
}