@use "../modules/colors";
@use "../modules/gradients";
@use "../modules/typography";

a.prominent {
  background: linear-gradient(180deg, gradients.$line-bg-page-shade);
  color: colors.$page-text;
  display: block;
  font-family: typography.$family-display;
  font-size: typography.$size-xxl;
  font-weight: normal;
  padding: 0 1em;
  text-decoration: none;

  &:hover {
    background: linear-gradient(180deg, gradients.$line-bg-light-scarlet);
    color: colors.$scarlet;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}
