@use "../modules/colors";
@use "../modules/typography";

a.prominent {
  background: linear-gradient(180deg,
    rgba(colors.$link, 0) 40%,
    colors.$page-shade 40%,
    colors.$page-shade 60%,
    rgba(colors.$page-shade, 0) 60%);
  color: colors.$page-text;
  display: block;
  font-family: typography.$family-display;
  font-size: typography.$size-xxl;
  font-weight: normal;
  padding: 0 1em;
  text-decoration: none;

  &:hover {
    background: linear-gradient(180deg,
      rgba(colors.$scarlet, 0) 40%,
      rgba(colors.$scarlet, 0.2) 40%,
      rgba(colors.$scarlet, 0.2) 60%,
      rgba(colors.$page-shade, 0) 60%);
    color: colors.$scarlet;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }
}
