@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

aside.pull {
  background: transparent;
  box-shadow: none;
  font: typography.$h2;
  font-weight: normal;
  margin: spacing.$none;
  padding: typography.$size-xl spacing.$none;
  text-align: center;

  strong {
    color: colors.$day-accent;
    font-weight: normal;
  }
}

.night aside.pull strong {
  color: colors.$night-accent;
}