@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

label.radio,
label.checkbox {
  margin: typography.$size-m spacing.$none;
  padding: spacing.$none spacing.$none spacing.$none calc(#{typography.$size-l} * 1.5);

  &.extended {
    font-weight: normal;
  }
}

input[type="radio"],
input[type="checkbox"] {
  border-radius: calc(#{typography.$size-l} / 2);
  display: inline-block;
  float: left;
  height: typography.$size-l;
  margin: calc(#{typography.$size-l} * -0.1) 0 0 calc(#{typography.$size-l} * -1.5);
  padding: spacing.$none;
  width: typography.$size-l;

  &:checked {
    background: rgba(colors.$blue, 0.25);

    &:after {
      background: colors.$blue;
      border-radius: calc(#{typography.$size-l} * 0.3);
      content: '';
      display: block;
      height: calc(#{typography.$size-l} * 0.6);
      margin: calc((#{typography.$size-l} * 0.2) - 1px) 0 0 calc((#{typography.$size-l} * 0.2) - 1px);
      width: calc(#{typography.$size-l} * 0.6);
    }
  }
}
