@use "../modules/borders";
@use "../modules/colors";
@use "../modules/spacing";
@use "../modules/typography";

body {
  counter-reset: scarletbanner-tables;
}

table {
  border-collapse: collapse;
  font-family: 'Alegreya Sans', sans-serif;
  margin: typography.$size-m typography.$size-m * -1;
  width: calc(100% + (#{typography.$size-m} * 2));

  caption {
    font-weight: bold;
    padding: spacing.$none typography.$size-m;
    text-align: left;

    &:not(.uncounted) {
      counter-increment: scarletbanner-tables;

      &:before {
        content: "Table " counter(scarletbanner-tables) ". ";
      }
    }
  }

  td, th {
    padding: calc(#{spacing.$vertical} / 4) calc(#{spacing.$horizontal} / 4);
    text-align: left;
  }

  th {
    border-bottom: borders.$day-table-heading;
  }

  tr:nth-child(even) td {
    background: colors.$day-shade-lighter;
  }

  .num {
    text-align: center;
  }

  tfoot {
    border-top: borders.$day-block;
  }
}

.night table {
  th {
    border-bottom: borders.$night-table-heading;
  }

  tr:nth-child(even) td {
    background: colors.$night-shade-lighter;
  }

  tfoot {
    border-top: borders.$night-block;
  }
}