@use "../modules/borders";
@use "../modules/colors";
@use "../modules/shadows";
@use "../modules/spacing";
@use "../modules/typography";

input,
textarea,
select {
  appearance: none;
  background: rgba(colors.$black, 0.1);
  border: borders.$block;
  box-shadow: inset shadows.$block;
  display: block;
  font: typography.$technical;
  padding: calc(#{spacing.$vertical} / 4) calc(#{spacing.$horizontal} / 4);
  width: 100%;

  &:focus {
    background: rgba(colors.$blue, 5%);
    border-color: colors.$blue;
  }

  &.error {
    background: rgba(colors.$scarlet, 0.1);
    border-color: colors.$scarlet;
    color: colors.$scarlet;
  }
}