@use "../modules/breakpoints";
@use "../modules/borders";
@use "../modules/colors";
@use "../modules/shadows";
@use "../modules/spacing";
@use "../modules/typography";

nav.toc {
  background: rgba(colors.$page-shade, 0.5);
  border-top: borders.$block;
  border-bottom: borders.$block;
  padding: typography.$size-m typography.$size-xl;

  h4 {
    border-bottom: borders.$block;
    border-bottom-width: spacing.$thick-border;
    font-style: normal;
    margin: spacing.$none spacing.$none typography.$size-xs spacing.$none;
    white-space: nowrap;
  }

  ul,
  li {
    margin: spacing.$none;
    padding: spacing.$none;
  }

  @media (min-width: breakpoints.$full-page) {
    margin: typography.$size-m typography.$size-xl * -1;
  }
}