@use "../modules/breakpoints";
@use "../modules/borders";
@use "../modules/colors";
@use "../modules/mixins";
@use "../modules/spacing";
@use "../modules/typography";

nav.toc {
  @include mixins.fancy-border("day", colors.$day-shade);
  padding: typography.$size-l typography.$size-xxl;

  h4 {
    border-bottom: borders.$day-block;
    border-bottom-width: spacing.$hairline;
    font-style: normal;
    margin: spacing.$none spacing.$none typography.$size-xs spacing.$none;
    white-space: nowrap;
  }

  ul,
  li {
    margin: spacing.$none;
    padding: spacing.$none;
  }

  li {
    padding: calc(#{spacing.$vertical} / 16) 0;
  }

  @media (min-width: breakpoints.$full-page) {
    margin: typography.$size-l typography.$size-xxl * -1;
  }
}

.night nav.toc {
  @include mixins.fancy-border("night", colors.$night-shade);

  h4 {
    border-bottom: borders.$night-block;
  }
}