@use "../modules/breakpoints";
@use "../modules/spacing";

%layout-block {
  max-width: breakpoints.$full-page;
  padding: spacing.$vertical calc(#{spacing.$horizontal} / 2);

  @media (min-width: breakpoints.$full-page) {
    margin: 0 spacing.$horizontal;
    padding: spacing.$vertical spacing.$horizontal;
  }

  @media (min-width: calc(#{breakpoints.$full-page} + (6 * #{spacing.$horizontal}))) {
    margin: 0 auto;
  }
}
