$day-block: 1px solid #111111; // Day block border
$day-table-heading: 0.1rem solid #a60f2d; // Day table heading border
$day-cta: 1px solid #0f2da6; // Day CTA underline
$day-cta-active: 1px solid #a60f2d; // Day CTA underline active
$night-block: 1px solid #eeeeee; // Night block border
$night-table-heading: 0.1rem solid #d3506a; // Night table heading border
$night-cta: 1px solid #859bf4; // Night CTA underline
$night-cta-active: 1px solid #d3506a; // Night CTA underline active