$day-bg: #eeeeee; // Day Background
$day-fg: #111111; // Day Text
$day-shade: #11111119; // Day Shade
$day-shade-lighter: #11111110; // Day Shade Lighter
$day-accent: #a60f2d; // Day Accent
$day-link: #0f2da6; // Day Link
$day-link-visited: #880fa6; // Day Link Visited
$night-bg: #111111; // Night Background
$night-fg: #eeeeee; // Night Text
$night-shade: #eeeeee19; // Night Shade
$night-shade-lighter: #eeeeee10; // Night Shade Lighter
$night-accent: #d3506a; // Night Accent
$night-link: #859bf4; // Night Link
$night-link-visited: #de85f4; // Night Link Visited