$steel: #888888 0%, #cccccc 50%, #888888 100%; // gradient.steel
$blue-steel: #5e6c85 0%, #b2c1d6 50%, #5e6c85 100%; // gradient.blue steel
$primary-button: #ca1237 0%, #a60f2d 90%, #820c23 100%; // gradient.primary button
$primary-button-active: #dc143c 0%, #a60f2d 90%, #820c23 100%; // gradient.primary button active
$secondary-button: #444444 0%, #111111 90%, #000000 100%; // gradient.secondary button
$secondary-button-active: #666666 0%, #111111 90%, #000000 100%; // gradient.secondary button active
$disabled-button: #7f7173 0%, #605557 90%, #41393b 100%; // gradient.disabled button