@use "../modules/breakpoints";
@use "../modules/spacing";

%layout-block {
  margin: 0 auto;
  max-width: calc(#{breakpoints.$full-page} - (#{spacing.$horizontal} * 2));
  padding: spacing.$vertical spacing.$horizontal;
}
