$block: 0px 0px 0.25rem 0px #00000080; // shadow.block
$focus-day-input: 0px 0px 0.25rem 0px #0f2da680; // shadow.focus day input
$day-error-input: 0px 0px 0.25rem 0px #a60f2d; // shadow.day error input
$focus-night-input: 0px 0px 0.25rem 0px #859bf480; // shadow.focus night input
$night-error-input: 0px 0px 0.25rem 0px #d3506a; // shadow.night error input
$button: 0px 0px 0.2rem 0px #00000099; // shadow.button
$pressed-button: 0px 0px 0.1rem 0px #000000cc; // shadow.pressed button
$button-text: 0px 0px 0.2rem 0px #00000080; // shadow.button text
$button-text-hover: 0px 0px 0.2rem 0px #ffffff80; // shadow.button text hover