$horizontal: 4rem; // Standard horizontal spacing
$vertical: 2rem; // Standard vertical spacing
$hairline: 1px; // Hairline spacing
$border: 0.1rem; // Border spacing
$thick-border: 0.2rem; // Thick border spacing
$button-width: 24rem; // Button width
$button-border: 0.2rem; // Button border
$none: 0px; // No spacing