@use "vendor/prism";

@use "modules/colors";
@use "modules/spacing";

@use "partials/typography";
@use "partials/nav";
@use "partials/hero";
@use "partials/main";
@use "partials/footer";

@use "partials/swatches";
@use "partials/tokens";

@use "components/code";
@use "components/component";
@use "components/link";
@use "components/cta";
@use "components/panel";
@use "components/button";
@use "components/toc";
@use "components/text-input";
@use "components/label";
@use "components/textarea";
@use "components/input-button";
@use "components/dropdown";
@use "components/radio";
@use "components/checkbox";
@use "components/image";
@use "components/figure";
@use "components/video";
@use "components/tables";
@use "components/glossary";
@use "components/dataset";
@use "components/blockquote";
@use "components/hr";
@use "components/aside";
@use "components/pullquote";
@use "components/side-panel";
@use "components/theme-picker";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: colors.$day-bg url("/images/day/bg.jpg") no-repeat bottom center;
  background-attachment: fixed;
  background-size: cover;
  color: colors.$day-fg;
  margin: 0;
  padding: 0;

  &:not(.night) {
    @extend %prism-default;

    :not(pre) > code[class*=language-].block {
      white-space: pre;
    }
  }

  &.night {
    @extend %prism-dark;
    background: colors.$night-bg url("/images/night/bg.jpg") no-repeat bottom center;
    background-attachment: fixed;
    background-size: cover;
    color: colors.$night-fg;

    :not(pre) > code[class*=language-].block {
      white-space: pre;
    }
  }
}
