@use "../../node_modules/prismjs/themes/prism.css";

@use "modules/cdn";
@use "modules/colors";
@use "modules/spacing";

@use "partials/typography";
@use "partials/tables";
@use "partials/nav";
@use "partials/hero";
@use "partials/main";
@use "partials/footer";
@use "partials/meta";

@use "partials/swatches";

@use "components/code";
@use "components/component";
@use "components/link";
@use "components/prominent-link";
@use "components/panel";
@use "components/button";
@use "components/toc";
@use "components/text-input";
@use "components/label";
@use "components/textarea";
@use "components/dropdown";
@use "components/radio";
@use "components/checkbox";
@use "components/image";
@use "components/figure";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@800&family=Alegreya+Sans:ital,wght@0,300;0,700;1,300;1,700&family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-attachment: fixed, local;
  background-color: colors.$black;
  background-image: linear-gradient(transparent 0%, colors.$black 100%), url('#{cdn.$images}/wall.gif');
  background-repeat: no-repeat, repeat;
  background-position: bottom center, top center;
  margin: 0;
  padding: 0;
}
